<div style="text-align: center;">
    <div class="scoreboard">
        Score: {{score}} <br/>
        @if(learnMode){
            <span>Current round is played in learning mode!</span>
        }
    </div>
    @if (learnMode) {
        <div class="learn-mode">
            <button mat-raised-button color="primary" class="button" (click)="start()">restart <br/>without help</button>
        </div>
        <div class="learn-advice">
            Try to place the your next stone on one of the yellow nodes<br/> to achieve the maximum score possible from this point.            </div>
    }
    @else {
        <div class="learn-mode">
                <button mat-raised-button color="primary" class="button" (click)="startLearnMode()">enable <br/>learning mode</button>            </div>
    } 
    <svg height="800" viewBox="0 0 200 200">
        <circle cx="100" cy="100" r="100" style="fill:rgb(143, 113, 98)"/>
        <polygon [attr.points]="getPentagram()" stroke="black" fill="none"/>
        @for (spot of pentagram.spots; track $index) {
            <circle [attr.cx]="spot.point[0]" [attr.cy]="spot.point[1]" r="9" 
                [attr.fill-opacity]="getOpacity($index)" 
                [attr.fill]="getColorString($index)"
                (mouseenter)="mouseEnter($index)"
                (mouseleave)="mouseLeave($index)"
                (click)="onClick($index)"/>
        }
    </svg>
    @if(!isGameRunning()){
        <app-gamefinished class="end-menu" [score]="getScore()" [learnMode]="getLearnMode()" [time]="getTimeSpent()" (newGame)="start()"></app-gamefinished>
    }
</div>
