<div style="text-align: center;">
    <div class="scoreboard">
        Score: {{getScore()}} <br/>
        @if(getLearnMode()){
            <span>Current round is played in learning mode!</span>
        }
    </div>
    @if (getLearnMode()) {
        <div class="learn-advice">
            Try to place the your next stone on one of the yellow nodes<br/> to achieve the maximum score possible from this point.            
        </div>
    }
    @if(!getLearnMode()){
        <div class="learn-mode">
            <button mat-raised-button color="primary" class="button" (click)="startLearnMode()">enable <br/>learning mode</button>            
        </div>
    }
    <div class="restart">
        <button mat-raised-button color="primary" class="button" (click)="start()">restart</button>
    </div>    
    
    <svg height="800" viewBox="0 0 200 200">
        <circle cx="100" cy="100" r="100" style="fill:rgb(143, 113, 98)"/>
        <polygon [attr.points]="getPentagram(pentagramCoords)" stroke="black" fill="none"/>
        @for (spot of pentagramCoords; track $index) {
            <circle [attr.cx]="spot[0]" [attr.cy]="spot[1]" r="9" 
                [attr.fill-opacity]="getOpacity($index)" 
                [attr.fill]="getColorString($index)"
                (mouseenter)="mouseEnter($index)"
                (mouseleave)="mouseLeave($index)"
                (click)="onClick($index)"/>
        }
    </svg>
    @if(!isGameRunning()){
        <app-gamefinished class="end-menu" [score]="getScore()" [learnMode]="getLearnMode()" [time]="getTimeSpent()" (newGame)="start()"></app-gamefinished>
    }
</div>
