.scoreboard {
    position: absolute;
    left: 40px;
    padding: 5px;
    border: solid;
    border-radius: 5px;
}
.cheat-mode {
    position: absolute;
    left: 40px;
    top: 130px;
    padding: 5px;
}