@if( score < 9){
<div class="end-message">
    You finished the game with a score of {{score}} / 9 <br/>
    Unfortunately you did not reach the maximum score.
</div>
}
@else if (!learnMode){
    <div class="end-message">
        WOW! What a game. You finished the game with the maximum score of 9 in a time of {{time >= 60000 ? (time| date : 'm:ss.SSS') : (time | date : 'ss.SSS')}}<br/>
        Congratulations!
    </div>
}
@else {
    <div class="end-message">You reached the maximum score with the help of the computer <br/> 
        Try again without help!</div>
}
<button mat-raised-button color="primary" (click)="restartGame()">Try again!</button>
