<div>
    <div class="score-container">
        <div class="scoreboard">
        Score: {{score}} <br/>
        @if(learnMode){
            <span>Current round is played in learning mode!</span>
        }
        </div>
        <button class="help-button" mat-icon-button [matMenuTriggerFor]="rules">
            <mat-icon>help</mat-icon>
        </button>
        <mat-menu #rules>
            <div mat-menu-item>
                Pentalpha is a puzzle where the goal is to place 9 stones on the 10 intersections of the pentagram.<br/><br/>
                Choose an intersection that is not occupied. Move two intersections in a straight line to another intersection not already occupied.
                If there is a stone in the way, you can hop over it.<br/><br/>
                Headsup! There is a timer running in the background. So hurry up!
            </div>
        </mat-menu>
    </div>
    <div class="buttons">
        @if (learnMode) {
            <div class="learn-advice">
                Try to place the your next stone on one of the yellow nodes<br/> to achieve the maximum score possible from this point.            
            </div>
        }
        @else{
            <button mat-raised-button color="primary" class="button" (click)="startLearnMode()">enable <br/>learning mode</button>            
        }
        <button mat-raised-button color="primary" class="button" (click)="start()">restart</button> 
    </div>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpened = true" (closed)="panelOpened = false">
            <mat-expansion-panel-header>  
                <mat-panel-title>
                    {{panelOpened ? "Hide": "Show"}} trivia about Pentalpha
                </mat-panel-title> 
            </mat-expansion-panel-header>
            <div>
                Some sources say, the origins of this game are in ancient egypt. A pentagram was discovered in the temple of Sethos I. in West Thebes, Kurna
                beneath some other play fields. However, it is not recorded how the game was played at that time (around 1400 BCE). The game became know during 
                the time of Socrates. To this day, the game is played on Crete.
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>
