.score-container{
    display: flex;
    justify-content: space-between;
}
.scoreboard {
    width:fit-content;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    height: fit-content;
    align-self: center;
}

.learn-advice {
    left: 40px;
    top: 190px;
    padding: 5px;
    border:solid;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
}

.button {
    padding: 25px 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}